@media screen and (max-width: 767px) {
header {
    display: none;
}
.cnts{
    position: absolute;
    top: 5%;
    left: 43%;
}

.preview__article {
    display: block;
    margin-top: 360px;

}

.hello {
    width: 120px !important;
    font-size: 17px !important;
}

.profession {
    display: none;

}
.resume {
    margin-top: 300px;
}

.experience__items {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important; 
}

.descr {
    display: none;
}

.aboutme {
    flex-wrap: wrap;
    margin-left: 30px;
    margin: 0 auto;
}

.me__points {
    margin: 0 auto;
}

.works {
    display: none;
}

.skills {
    display: none;
}

.reach__me {
    margin-right: 100px !important;
    &_article {
        margin-right: 395px !important;
    }
}

.buttons {
    position: relative;
    right: 350px;
    bottom: 150px
}

.mail {
    position: relative;
    right: 700px;
    bottom: 150px
}

.pageup {
    position: relative;
    right: 260px;
    bottom: 50px
}

.footer__article {
    flex-wrap: wrap;
    &_title {
        position: relative;
        bottom: -50px;
        margin-left: 185px !important;
    }

.footer__contacts {
    position: relative;
    bottom: 30px;
    left: 10px;
    }
}

}