$main-color: rgb(9, 14, 22);
$second-color: rgba(123, 74, 226, 0.05);
$third-color: rgba(255, 255, 255, 0.5);
$fourth-color: rgba(123, 74, 226, 0.5);
$fifth-color: rgba(123, 74, 226, 0.1);
$text-color: rgb(123, 74, 226);
$second-text-color: rgb(255, 255, 255);
