.header {
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    height: 64px;
    margin: 0 auto;
    background-color: rgba(123, 74, 226, 0.05);
    border-radius: 16px;
    margin-top: 38px;
}

.logo {
    display: flex;
    align-items:center;
    padding-left: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
    background-color: none;
    overflow: hidden;
    margin-bottom: 0;
    text-decoration: none;
}

li {
    padding: 1.1rem;
    float: left;
}

li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
}

ul li a {
    position: relative;
}
