.reach {
    max-width: 85%;
    margin: 0 auto;
    margin-top: 141px;
}

.reach__me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_article {
        margin-bottom: 28px;
        color: rgb(123, 74, 226);
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: rgba(123, 74, 226, 0.1);
        width: 160px;
        height: 45px;
    }
    &_title {
        margin-bottom: 64px;
    }
}

.reach__btn {
    position: relative;
    margin-top: 111px;
    margin-left: 340px;
    width: 246px;
    height: 60px;
    background: rgb(9, 14, 22);
    box-sizing: border-box;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
}

.reach__whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    color: rgba(123, 74, 226, 0.5);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.mail {
    position: relative;
    top: -105px;
    margin-left: 700px;
    &__icon {
        width: 32px;
        height: 32px;
        margin-bottom: 7px;
    }

    &__article {
        margin-top: 7px;
        color: rgb(123, 74, 226);
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
    }

    &__example {
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        text-decoration-line: underline;
    }
}


.pageup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page__text {
    color: rgba(123, 74, 226, 0.5);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}